---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-bl from-pink-900 to-pink-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Build better products.
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
  Together, we can
  build a product that is beautiful, reliable & fast.
  </p>
  <div class="flex mt-5">
    <Link href="https://fantastical.app/withlily/intro" style="inverted">Book a meeting</Link>
  </div>
</div>
