---
import { Image, Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
---

<div class="overflow-x-clip">
  <Container>
    <main class="relative grid place-items-center lg:grid-cols-5">
      <div
        class="bg-gradient-radial absolute right-0 top-0 -z-10 h-96 w-96 from-indigo-200 blur-2xl">
      </div>
      <div
        class="bg-gradient-radial absolute right-56 top-10 -z-10 h-96 w-96 from-purple-200 blur-2xl">
      </div>

      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <h1
          class="text-center text-3xl font-bold [text-wrap:balance] lg:text-start lg:text-4xl lg:tracking-tight xl:text-6xl xl:tracking-tighter">
          Build it with Lily
        </h1>
        <p
          class="mt-4 max-w-lg text-center text-lg text-slate-600 [text-wrap:balance] lg:text-start">
          Tailor made web applications that bring your next idea to life. Together, we can
          build a product that is beautiful, reliable & fast.
        </p>
        <div
          class="my-6 flex flex-col gap-3 sm:flex-row sm:justify-center lg:justify-start">
          <Link
            href="https://fantastical.app/withlily/intro"
            target="_blank"
            class="flex items-center justify-center gap-1"
            rel="noopener">
           Book a meeting
          </Link>
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href="https://github.com/surjithctly/astroship"
            class="flex items-center justify-center gap-1"
            target="_blank">
           Learn more
          </Link> --
        </div>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={heroImage}
          alt="Astronaut in the air"
          formats={["avif", "webp"]}
          sizes="(max-width: 1024px) 100vw, 50vw"
          widths={[240, 540, 720, heroImage.width]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>
</div>
