---
const { color = "DEFAULT", class: className } = Astro.props;

const colors = {
  DEFAULT: "bg-gray-100 border-gray-200 border text-gray-800",
  pink: "bg-pink-100 border-pink-200 border text-pink-600",
  amber: "bg-amber-100 border-amber-200 border text-amber-600",
  indigo: "bg-indigo-100 border-indigo-200 border text-indigo-600",
};
---

<span
  class:list={[
    colors[color],
    className,
    "rounded-full text-xs font-medium px-3 py-1 ",
  ]}>
  <slot />
</span>
