---
const { color = "DEFAULT", class: className } = Astro.props;

const colors = {
  DEFAULT: "bg-gray-100 border-gray-200 border text-gray-800",
  cyan: "bg-cyan-100 border-cyan-200 border text-cyan-600",
  pink: "bg-pink-100 border-pink-200 border text-pink-600",
  emerald: "bg-emerald-100 border-emerald-200 border text-emerald-600",
};
---

<span
  class:list={[
    colors[color],
    className,
    "rounded-full text-xs font-medium px-3 py-1 ",
  ]}>
  <slot />
</span>
